.form_field {
    display: flex;
}
.field {
    margin-right: 1rem;
}

.question_field a:not(.user_link) {
    color: #1a0dab;
}
.answer_field a:not(.user_link) {
    color: #1a0dab;
}

.question_field {
    display: flex;
    width: 100%;
    border-top: solid 1px #9b9b9b;
}
.question_field_right {
    width: calc(100% - 50px);
}
.answers_list {
    list-style: none;
}
ul {
    margin: 0;
}
.answer_field {
    display: flex;
    border-top: solid 1px #9b9b9b;
}
.link_to_answer {
    text-align: right;
}
#searchbutton {
    margin-bottom: 5px;
    height: 1.5rem;
}