{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'socialapp/css/base.css' %}" />
    {% block extra_style %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block header %}
    <header class="header">
        <div class="header-container">
            <a href="{% url 'index' %}" class="header-container__title a_none-decoration">ソーシャルアプリケーション</a>
           
            {% if user.is_authenticated %}
                <a href="{% url 'user_view' user.id %}" class="header-container__user a_none-decoration">
                    <div class="username_field">{{ user.username }}</div>
                    <img src="{{ user.image.url }}" class="user_image header_image">
                </a>
            {% endif %}
            
        </div>
    </header>
    {% endblock %}
    <h1>
        {% block header-title %}{% endblock %}
    </h1>
    {% block content %}
    {% endblock %}

    {% block footer %}
    {% endblock %}
</body>
</html>
