{% extends "socialapp/base.html" %}
{% load static %}
{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% static 'socialapp/css/chat.css' %}" />
{% endblock %}
{% block title %}{{ you.username }} | チャット{% endblock %}
{% block header-title %}{{ you.username }}{% endblock %}

{% block content %}

<ul class="chat_list">
    {% for talk, is_read in talks %}
        <li class="chat_content{% if not is_read %} unread{% endif %}">
            {{ unread_list.forloop.counter0 }}
            <div class="chat_content_left">
                <img src="{{ talk.user_from.image.url }}" class="user_image">
            </div>
            <div class="chat_content_right">
                <div class="username_field">{{ talk.user_from.username }}</div>
                <div class="talk_field">{{ talk.talk }}</div>
                <div class="time_field">{{ talk.time }}</div>
            </div>
        </li>
    {% endfor %}
</ul>
{% endblock %}

{% block footer %}
<footer>
    <form action="" method="POST" id="form_field">
        {{ form.talk }}
        {{ form.talk.errors }}
        {% csrf_token %}
        <input type="submit" value="送信" id="sendtalkbutton">
    </form>
</footer>
{% endblock %}
    
