{% extends "socialapp/base.html" %}
{% load static %}
{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% static 'socialapp/css/chat.css' %}" />
{% endblock %}
{% block title %}{{ you.username }} | チャット{% endblock %}
{% block header-title %}{{ you.username }}{% endblock %}

{% block content %}

<ul class="chat_list">
    {% for talk in talks %}
        <li class="chat_content">
            <div class="chat_content_left">
                <img src="{{ talk.user_from.image.url }}" class="user_image">
            </div>
            <div class="chat_content_right">
                <div>{{ talk.user_from.username }}</div>
                <div>{{ talk.talk }}</div>
            </div>
        </li>
        
    {% endfor %}
</ul>
    


{% endblock %}

{% block footer %}
<form action="" method="POST">
    {{ form.talk }}
    {{ form.talk.errors }}
    {% csrf_token %}
    <input type="submit" value="send" id="sendbutton">
</form>
{% endblock %}
    
