{% extends "socialapp/base.html" %}
{% load static %}
{% block extra_style %}

{% endblock %}
{% block title %}ソーシャルアプリケーション{% endblock %}
{% block header-title %}ホーム{% endblock %}

{% block content %}
<div>
    <a href="{% url 'question' %}">質問スペース</a>
</div>
<div>
    <a href="{% url 'posts_view' %}">投稿</a>
</div>
<div>
    <a href="{% url 'groups_view' %}">グループ一覧</a>
</div>
<div>
    <a href="{% url 'create_group' %}">グループを作成</a>
</div>
<div>
    <a href="{% url 'register_classes' %}">授業を登録</a>
</div>
<div>
    <a href="{% url 'users_view' %}">ユーザー一覧</a>
</div>
{% if has_unread %}
<div class="message">
    チャットに未読メッセージがあります。
</div>
{% endif %}
<div>
    <a href="{% url 'logout_view' %}">ログアウト</a>
</div>
{% endblock %}

{% block footer %}{% endblock %}
    
