{% extends "socialapp/base.html" %}
{% load static %}
{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% static 'socialapp/css/posts.css' %}" />
{% endblock %}
{% block title %}投稿{% endblock %}
{% block header-title %}
投稿
{% if onlygroup %}
    - {{ groupname }}
{% endif %}
{% endblock %}

{% block content %}
<a href="{% url 'post_create' %}{% if onlygroup %}?group={{ groupcode }}{% endif %}" id="post_create_link">新しい投稿を作成</a>
<form action="" method="GET">
    {{ form.group }}
    {{ form.filter }}
    <input type="submit" value="検索" id="searchbutton">
</form>
<ul class="post_list">
    {% for post in post_list %}
        <li class="post_content">
            <div class="post_content_left">
                <img src="{{ post.user.image.url }}" class="user_image">
            </div>
            <div class="post_content_right">
                <a href="{% url 'user_view' post.user.id %}" class="user_link">{{ post.user.username }}</a>
                {{ post.user.get_faculty_display }} , {{ post.user.get_grade_display }}
                <div>{{ post.text | linebreaksbr | escape | urlize }}</div>
                {% if post.image1 %}
                    <img src="{{ post.image1.url }}" class="post_image">
                {% endif %}
                {% for group in post.group.all %}
                    <a class="group_tag" href="{% url 'users_view' %}?category={{ group.category }}&number={{ group.number }}">
                        {{ group.name }}
                    </a>
                {% endfor %}
                <div class="post_time">{{ post.time }}</div>
            </div>
        </li>
    {% empty %}
        <p>投稿が存在しません。</p>
    {% endfor %}
</ul>
{% endblock %}
