{% extends "socialapp/base.html" %}
{% load static %}
{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% static 'socialapp/css/question.css' %}" />
{% endblock %}
{% block title %}質問スペース{% endblock %}
{% block header-title %}質問スペース{% endblock %}

{% block content %}
<div><a href="{% url 'question_ask' %}">質問をする</a></div>
<h2>質問一覧</h2>
<form method="POST" class="form_field">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
        <div class="field">
            <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}:</label>
            {{ field }}
            <div class="errors">{{ field.errors }}</div>
        </div>
    {% endfor %}
    <input type="submit" value="この条件で絞り込み" id="searchbutton">
</form>

{% for question, answers in question_list %}
    <div class="question_field">
        <div class="question_field_left">
            <img src="{{ question.questioner.image.url }}" class="user_image">
        </div>
        <div class="question_field_right">
            <a href="{% url 'user_view' question.questioner.id %}" class="user_link">{{ question.questioner.username }}</a>
            {{ question.questioner.get_faculty_display }} , {{ question.questioner.get_grade_display }}
            <div>
                {{ question.question | linebreaksbr | escape | urlize }}
            </div>
            <div class="link_to_answer">
                <a href="{% url 'question_answer' question.id %}">回答する</a>
            </div>
        </div>
    </div>
    {% if answers %}
        <details>
            <summary>回答を表示</summary>
            <ul class="answers_list">
                {% for answer in answers %}
                    <li class="answer_field">
                        <div class="answer_field_left">
                            <img src="{{ answer.answerer.image.url }}" class="user_image">
                        </div>
                        <div class="answer_field_right">
                            <a href="{% url 'user_view' answer.answerer.id %}" class="user_link">{{ answer.answerer.username }}</a>
                            {{ answer.answerer.get_faculty_display }} , {{ answer.answerer.get_grade_display }}
                            <div>{{ answer.answer | linebreaksbr | escape | urlize }}</div>
                        </div>
                        
                    </li>
                {% endfor %}
            </ul>
        </details>
    {% endif %}
{% endfor %}
<hr class="line">
{% endblock %}

{% block footer %}{% endblock %}
    
