{% extends "socialapp/base.html" %}
{% load static %}
{% block extra_style %}

{% endblock %}
{% block title %}{{ user_obj.username }}{% endblock %}
{% block header-title %}{% endblock %}

{% block content %}
<span id="image_container">
    <img src="{{ user_obj.image.url }}" class="user_image">
</span>
<div id="username">
    {{ user_obj.username }}
</div>
{% if user_obj != user %}
    <div>
        <a href="{% url 'chat' user_obj.id %}">
            チャット
        </a>
    </div>
{% endif %}
{% endblock %}

{% block footer %}{% endblock %}
    
