{% extends "socialapp/base.html" %}
{% load static %}
{% block extra_style %}

{% endblock %}
{% block title %}ユーザー一覧{% endblock %}
{% block header-title %}ユーザー一覧{% endblock %}

{% block content %}
{% for customuser in customuser_list %}
    <div>
        {% if customuser == user %}you:{% endif %}
        <a href="{% url 'user_view' customuser.id %}">{{ customuser.username }}</a>
        {{ customuser.get_faculty_display }}
    </div>
{% endfor %}
{% endblock %}

{% block footer %}{% endblock %}
    
